body {
  background-color: green;

}
.mainDiv{
  display: inline-flex;
}

.card {
    position: relative;
    background-color: white;
    height: 400px;
    width:300px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 3%;
    box-shadow: 5px 5px 5px black;
}

 .card:before{
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 70px;
}

.card:after{
  position: absolute;
  padding-bottom: 50px;
  padding-right: 225px;
  font-size: 70px;
  transform: rotate(180deg);
}

#number {
  font-size: 90px;
  text-align: center;
  padding-top: 50%;
  font-family: Times New Roman;
  color: black;
}

.diamond:before, .diamond:after {content: '♦'; color: red; }
.spade:before, .spade:after {content: '♠'; color: black; }
.heart:before, .heart:after  {content: '♥'; color: red; }
.club:before, .club:after  {content: '♣' ; color: black; }


#button {
 margin-top: 100px;
 margin-left: 45%;
 height: 30px;
 width: 180px;
 background-color: black;
 color: white;
}












